.footer {
  width: 100%;
  background-color: darkseagreen;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 32px;

  .copyright {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
  }
}